@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Neuton&display=swap");
body {
  background-color: orange;
}

.playerCards {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}
.playerCards div {
  border: 2px solid red;
  border-radius: 5px;
}

.statsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}
.statsSection ul {
  border: 2px solid blue;
  display: grid;
}

h1 {
  color: blue;
}