@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap");
h1 {
  font-family: "Monoton", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  height: 50%;
  width: 70%;
}

.playerCards {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}
.playerCards div {
  height: 500px;
  border: 2px solid red;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.playerCards button {
  text-align: center;
  display: block;
}

.statsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}
.statsSection ul {
  border: 2px solid blue;
  display: grid;
  list-style-type: none;
  padding-left: 50px;
}

h1 {
  color: blue;
}