@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap");
h1 {
  font-family: "Monoton", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: orange;
}

img {
  height: 50%;
  width: 70%;
}

button {
  display: block;
}

.playerCards {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}
.playerCards div {
  height: 500px;
  border: 2px solid red;
  border-radius: 10px;
}

.statsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}
.statsSection ul {
  border: 2px solid blue;
  display: grid;
}

h1 {
  color: blue;
}